const config = {

	// NOTICE: Make a copy of this file, and rename it to "config.js".
	// And change out the values below with your own.
	
	// Bot token - Super secret! - Available on https://discordapp.com/developers/applications/me
	"token":"SECRET",

	// Owner discord ID
	"ownerid" : "000000000000000000",


	// Logger Discord Webhook URL
	"webhook" : "SECRET", // OPTIONAL: If left blank, remember to disable Logger.

	// Wolfram Alpha ID - Get one for free at http://products.wolframalpha.com/developers/
	"wolframAlphaID" : "SECRET", // OPTIONAL: If left blank, remember to disable the command too.

	// Fixer API Access key - Sign up for a free API key on https://fixer.io/ - This is used for for currency conversion.
	"fixer" : "SECRET", // OPTIONAL: If left blank, remember to disable the command too.

	// Default configuation for the multi-guild support
	"defaultSettings" : {
		prefix: "#",
		welcome: "false",
		leave: "false",
		channel: "default",
		post_user_info_to_channel: "",
		minecraft: "localhost:25565",
		fivem_host: "localhost", fivem_port: "30120"
	},

	// Configuration for the rcon module. You probably want to disable the whitelist command, and leave this blank.
	"rcon" : {
		hostname: "",
		port: "",
		password: ""

	}
};

module.exports = config;
