const config = {

	// NOTICE: Make a copy of this file, and rename it to "config.js".
	// And change out the values below with your own.
	
	// Bot token - Super secret! - Available on https://discordapp.com/developers/applications/me
	"token":"SECRET",

	// Owner discord ID
	"ownerid" : "000000000000000000",

	// Wolfram Alpha ID - Get one for free at http://products.wolframalpha.com/developers/
	"wolframAlphaID" : "SECRET", // OPTIONAL: If left blank, remember to disable the command too.

	// Default configuation for the multi-guild support
	"defaultSettings" : {
		prefix: "#",
		welcome: "false",
		channel: "default",
		mc_host: "localhost", mc_port: "25565",
		fivem_host: "localhost", fivem_port: "30120"
	},

	// Configuration for the rcon module. You probably want to disable the whitelist command, and leave this blank.
	"rcon" : {
		hostname: "",
		port: "",
		password: ""

	}
};

module.exports = config;
